@charset "UTF-8";
// =============================
// サイト全体の設定//
// =============================


// width  -----------------------------

// $width-base: 1200px; //全体
// $width-main: 800px; //メインエリア
// $width-side: 360px; //サイドバー


// font -----------------------------

// $font-bace:"Yu Gothic","Sans-serif";
// $font-serif:"Yu Moncho","Sans-serif";


// color -----------------------------

//サイトカラー
// $color-main:green;
// $color-sub:pink;
// //フォントカラー
// $color-font:#000;
// //リンクカラー
// $color-link:yellow;


// breakpoint -----------------------------
$breakpoints:(
  sp: "only screen and (max-width:480px)",
  pc: "only screen and (max-width:961px)",
);



