/*!各sassのインポート*/
@import "_main";
@import "_mixin";
@import "_module";
@import "_reset";
@import "_setting";

/*! カラー */

body {
   color:$color-main;
   background-color: #fff;
   @include media(pc) {
     background-color: lightpink;
    }
   @include media(sp) {
     background-color: lightgray;
  }
}

/*! タイトル */

.schedule h3,.info h3{
  color:$color-sub;
 }

.subject-title__text,.question-title__text,.greeting-title__text{
  @include title__text;
}